#weatherApp {
  margin: auto;
  margin-top: 40px;
  width: 600px;
}
body {
  width: 600;
  height: 600;
  background-image: url("Bejaia.jpg");
  background-repeat: repeat-y;
  
  
  background-position: center;

}
.card {
  margin: auto;
  width: 400px;
}
h4{
  color: rgb(247, 247, 253);
}